@font-face{
	
	font-family:bungee;
	src : url("../fonts/bungee/Bungee-Regular.otf");
	
}

body{
  background-color:#220901;
  background-image: url("../images/bg.jpg");
  background-repeat:no-repeat;
  background-position:center top;
  background-size:cover;
  color: #fff;
  margin: 20px 20px;
}
.maintitle{
	
	text-align:center;
	
}
header{
	font-family: bungee, sans-serif;
	text-align: center;
	color:#ffc857;
	margin:0px;
	padding:0px 0px;
	
}


article{
	text-align: center;
	float:center;
	
}

footer{
	
	text-align: center;
	color:#ffe1a8;
}

button,a{ 
	text-decoration: none;
	width:80px;
	border-radius: 4px;
	margin: 10px 5px;
	background: #e26d5c;
	color:#ffe1a8;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 3px inset #031926;
	padding:3px 5px;
	font-size:0.875em;
	cursor:pointer;
	text-align:center;
	
}

.formbg{
	display: inline-block;
	background: rgba(202, 204, 164, 0.8);
	margin: 10px;
	padding:20px;
	width:250px;
	border-radius: 12px;
	text-align: center;
	border: 8px inset #031926;
}

.formbg input{
	
	padding:5px 5px;
	margin:5px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
	font-size:1em;
	
}
table,td,tr,th{
	padding:10px;
	margin:5px 5px;
	line-height: 20px;
	font-size:1em;
	background: #757575;
	color:#FBFBFF;
	border: 2px solid #FBFBFF;
	border-collapse:collapse;
	
}
th{
	color:#01BAEF;
	text-align: center;
	font-size:0.9em;
	font-family: bungee, sans-serif;
	background: #0B4F6C;
}